@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bege: #f9f3e9;
    --marrom-escuro: #816D4F;
    --marrom-claro: #B29463;
    --marrom-maisClaro: #d0a863;

    --corWhite: #fff;
    --corBlack: #000;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bege);
}
.content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 50%;
    background-color: var(--corWhite);
    border-radius: 8px;
}
.content::before{
    content: "";
    background-color: var(--marrom-escuro);
    width: 40%;
    height: 100%;
    position: absolute;
}
/* Primeira parte do projeto */
.first-content1{
    display: flex;
}
.first-colmn1{
    text-align: center;
    flex: 1 0 auto;
    /* Para sobrepor o content a cima do :before temos que usar a propriédade z-index maior que a dele */
    z-index: 10;
}

/* Estilizando o title do primeiro content */
.first-content1 .first-title{
    font-family: "Playwrite PL", cursive;
    font-weight: 100;
    font-size: 40px;
    margin: 0 0 5px 0;
    color: var(--bege);
}
.first-content1 .descrition{
    font-size: 20px;
    color: var(--bege);
}

.content.first-content1 .btn{
    width: 150px;
    margin:  40px 0;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--corWhite);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 15px;
    background-color: var(--marrom-escuro);
    color: var(--corWhite);

    &:hover{
        color: var(--corBlack);
        background-color: var(--corWhite);
        transition: 0.7s;
    }
}
.second-column1{
    flex: 2 0 auto;
    z-index: 10;
    text-align: center;
}
.second-column1 .title{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: var(--marrom-escuro);
}

.second-column1 .descition{
    font-size: 15px;
    padding: 10px;
    font-family: "Work Sans", sans-serif;
    color: #9a9595;
}
.social-midia{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-midia{
    margin: 20px 0;
    gap: 10px;
}
.social-midia li{
    cursor: pointer;
    list-style: none;
    border-radius: 50%;
    background-color: var(--bege);
    width: 40px;
    height: 40px;
    &:hover{
        background-color: var(--marrom-escuro);
        transition: 0.2s;
    }
}
.social-midia li a{
    color: var(--corBlack);
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover{
        color: var(--corWhite);
    }  
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form label {
    border: none;
    /* border: 1px solid #00000049; */
    margin: 5px;
    width: 55%;
    border-radius: 4px;
    background-color: #f3f1f1;
}
form label i{
    opacity: 0.5;
    margin-left: -0;
}
form label input{
    border: none;
    margin: 5px;
    padding: 10px;
    height: 45px;
    width: 90%;
    background-color: #f3f1f1;
    outline: none;
    color: var(--marrom-claro);
}
.second-btn{
    width: 150px;
    margin:  10px 0;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--corWhite);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 15px;
    background-color: var(--marrom-escuro);
    color: var(--corWhite);
    &:hover{
        color: var(--corBlack);
        background-color: var(--corWhite);
        transition: 0.7s;
    }
} 

/* Segunda parte do projeto */
.second-content2{
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 900px;
    display: none;
}


/*

.first-colmn2{
    background-color: var(--marrom-escuro);
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--bege);
}
.first-colmn2 .title{
    font-family: "Playwrite PL", cursive;
    font-weight: 100;
    font-size: 40px;
    margin: 0 0 5px 0;
    color: var(--bege);
}
.first-colmn2 .btn-cadastro{
    width: 150px;
    margin:  40px 0;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--corWhite);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 15px;
    background-color: var(--marrom-escuro);
    color: var(--corWhite);

    &:hover{
        color: var(--corBlack);
        background-color: var(--corWhite);
        transition: 0.7s;
    }
}

.second-column2{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: var(--corWhite);
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-column2 .title{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.second-column2 .social-midia ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    gap: 10px;
}
.second-column2 .social-midia ul li{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    border-radius: 50%;
    background-color: var(--bege);
    width: 40px;
    height: 40px;
}
.second-column2 .social-midia ul li a{
    color: var(--corBlack);
    font-size: 20px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 50%;
}
.second-column2 .descition{
    font-size: 15px;
    padding: 10px;
}


.second-column2 .formulario2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forgot a{
    font-size: 18px;
    opacity: 0.7;
    color: var(--marrom-claro);
}
.formulario2 label {
    border: 1px solid #00000049;
    width: 100%;
    margin: 5px;
    border-radius: 4px;
    background-color: #f3f1f1;
}

.formulario2 label i{
    margin-left: 5px;
}
.formulario2 label > input{
    border: none;
    margin: 5px;
    padding: 10px;
    background-color: #f3f1f1;
    outline: none;
}
.formulario2 .btn{
    width: 150px;
    margin:  10px 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 15px;
    background-color: var(--marrom-escuro);
    color: var(--corWhite);

    &:hover{
        color: var(--corBlack);
        background-color: var(--corWhite);
        transition: 0.7s;
    }
}

.movimento{
    animation: mover 2s;
    
}

@keyframes mover{
    from{
        left: 0;
        width: 40%;
    }
    
    25% {
        left: 25%;
        width: 50%;
    }

    50%{
        left: 50%;
        width: 60%;
    }

    75%{
        left: 75%;
        width: 50%;
    }

    to{
        left: 60%;
        width: 40%;
    }
} */
